<template name="introduction">
  <div class="jumbotron text-center">

    <h1>Hello world</h1>
    <p class="lead">I am Antti Suniala.</p>

    <div class="row">

      <div class="col-md-6 vertical-align">
        <img src="/images/antti.jpg" class="img-circle img-responsive center-block vertical-align">
      </div>

      <div class="col-md-6 vertical-align">
        <div class="list-group-item"><i class="fa fa-github fa-lg fa-fw"></i> My Github projects are at <strong><a href="http://github.com/a-suniala" target="_blank">github.com/a-suniala</a></strong></div>
        <div class="list-group-item"><i class="fa fa-envelope fa-lg fa-fw"></i> Contact by email <strong>my first name</strong> @ <strong>anttisuniala.fi</strong></div>
        <div class="list-group-item"><i class="fa fa-map-marker fa-lg fa-fw"></i> Located in <strong>Helsinki</strong>, <strong>Finland</strong></div>
      </div>

    </div>
  </div>
</template>